!      _
!  ___| |_
! / __| __|
! \__ \ |_
! |___/\__|
!
st.font:        DejaVuSansMono:pixelsize=11:antialias=false;
st.alpha:       200
!! Colors
st.foreground:  #000000

! special
!*.background:   #bebebe

! black
*.color0:       #000000
*.color8:       #222222
! red
*.color1:       #f25a5a
*.color9:       #ffbbbb
! green
*.color2:       #77bb33
*.color10:      #dcf692
! yellow
*.color3:       #a1c454
*.color11:      #f6df92
! blue
*.color4:       #5555dd
*.color12:      #b2baf6
! magenta
*.color5:       #c350ff
*.color13:      #f09fff
! cyan
*.color6:       #5af2ee
*.color14:      #5af2ee
! white
*.color7:       #bebebe
*.color15:      #eeeeee


!! Extensions and URLs
*.url-launcher:              /usr/bin/firefox
*.matcher.button:            1
